.pa_orange_text{
    color: #eb9d26;
}
.pa_orange_link:hover{
    background-color: #9F6A1C;
    border-color: #9F6A1C;
}

.pa_orange_link{
     background-color: #eb9d26;
     border-color: #eb9d26;
 }

.journey-module-box {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}
